*{
  font-family: 'Kaisei HarunoUmi', serif;
  margin: 0;
  padding: 0;
}

.content{
  min-height: 100vh;
  width: 100%;
  background-image: url(./assets/pexels-madison-inouye-1831234.jpg);
  background-position: center;
  background-size: cover;
  position: relative;

}
.text{
  border-style: none;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  margin-top: 50px;

}
.form{
  border-style: groove;
  padding: 20px;
  margin-right:200px ;
  margin-left: 200px;
}
label{
  font-size: 20px;
}
p{
  font-size: 30px;
}
label[for=gender]{
 padding: 20px;
 margin-left: 450px;
}
input[type=button], input[type=submit] {
  background-color: #9aa39b;
  border: none;
  border-radius: 30px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 450px;

}